


.header {
    padding:1em;
    background-color: #1e96f2;
    color: #fff;
}
.header-right {
    text-align: right;
}
.header-right h5 {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}
#location {
    display: inline-block;
}
a,a:hover {
    color: #fff;
    text-decoration: none;
}
.title-box {
    padding:0 1em;
    color: #666;
}
.tmp-box {
    text-align: right;
}
.tmp-box h4 {
    display: inline-block;
}
.weather-section {
    padding:0 1em;
    color: #666;
}
.weather-section h4 {
    line-height: 28px;
}
#minTmp0,#minTmp1,#minTmp2,#minTmp3,#minTmp4,#minTmp5,#minTmp6 {
    color:#14b610;
}
#maxTmp0,#maxTmp1,#maxTmp2,#maxTmp3,#maxTmp4,#maxTmp5,#maxTmp6 {
    color:#ff800f;
}
#date5,#date6 {
    color: #e92121;
}
#state0 {
    padding-left: 25px;
    background-image: url('../images/w-s946e8b6d40.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 0 -324px;
}
#state1 {
    padding-left: 25px;
    background-image: url('../images/w-s946e8b6d40.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 0 -270px;
}
#state2 {
    padding-left: 25px;
    background-image: url('../images/w-s946e8b6d40.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 0 -270px;
}
#state3 {
    padding-left: 25px;
    background-image: url('../images/w-s946e8b6d40.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 0 -27px;
}
#state4 {
    padding-left: 25px;
    background-image: url('../images/w-s946e8b6d40.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 0 -27px;
}
#state5 {
    padding-left: 25px;
    background-image: url('../images/w-s946e8b6d40.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 0 -243px;
}
#state6 {
    padding-left: 25px;
    background-image: url('../images/w-s946e8b6d40.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 0 -270px;
}
.clear {
    clear: both;
}

.province-header {
    background-color: #157bd2;
    padding:0 15px;
    position: relative;
}
.province-header h3 {
    text-align: center;
    color: #fff;
}
.province-header a {
    display: block;
    position: absolute;
    left: 15px;
    font-size: 20px;
    line-height: 56px;
}
.province-title {
    color: #5faaf5;
    text-align: center;
}
.cityname button {
    font-size: 16px;
    color: #848789;
    display: inline-block;
    background-color: #eaf4ff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
}
.col-xs-3 {
    padding: 0 5px;
}
.row {
    padding: 0 15px;
}
